.grid-container {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 15px;
    grid-template-areas:
    "area1 area1 area1 area1 area1"
    "area2 area2 . area3 area3"
    "area2 area2 area4 area4 area4";
  }

.grid-item1{
    grid-area: area1;
    background-color: red;
    object-fit: contain;
}
.grid-item2{
    grid-area: area2;
    background-color: rgb(68, 0, 255);
 
}
.grid-item3{
    grid-area: area3;
    background-color: rgb(34, 255, 0);
}
.grid-item4{
    grid-area: area4;
    background-color: rgb(212, 255, 0);
}
img{
grid-area: area1;
display: block;
   /*
   grid-column-start:1;
   grid-column-end: 2;
  */
  display: block;
  height: 100%;
  width: 100%;
}