* {

    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body {

    background-color: gainsboro;

}

header {

    background: rgb(211, 211, 211);
    background: linear-gradient(0deg, rgba(211, 211, 211, 1) 9%, rgb(160, 160, 160) 48%);
    width: 100%;
    padding: 2%;
    color: rgb(230, 89, 37);
    font-weight: bold;
    font-size: x-large;
    font-style: italic;
    text-decoration: overline;

}

nav {

    width: 100%;
    background-color: lightgrey;
    padding: 1%;
    margin-bottom: 7%;
    border: 2px solid lightgrey;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    text-align: center;

}

nav a {

    font-size: large;
    color: rgb(255, 119, 0);
    font-weight: bold;
    text-decoration: none;

}


nav a:visited {

    color: rgb(255, 81, 110);
    font-weight: bolder;
    text-decoration: none;

}

.articulo {

    display: inline-block;
    width: 22%;
    margin-left: 2%;
    margin-bottom: 5%;
    padding: 1%;
    padding-top: 2%;
    padding-bottom: 5%;
    border: 2px solid rgb(255, 119, 0);
    border-radius: 5%;
    background-color: rgb(255, 119, 0);
    text-align: center;

}

.articulo:active {

    display: inline-block;
    width: 22%;
    margin-left: 2%;
    margin-bottom: 5%;
    padding: 1%;
    padding-top: 2%;
    padding-bottom: 5%;
    border: 2px solid rgb(125, 119, 0);
    border-radius: 5%;
    background-color: rgb(125, 119, 0);
    text-align: center;

}

.articulo p {

    width: 100%;
    font-size: large;
    color: gainsboro;
    font-weight: bolder;
}

.articulo h3 {

    visibility: visible;
    width: 100%;

}

.articulo h3:hover {

    visibility: visible;
    width: 100%;
    color: green;

}

.articulo img {

    width: 80%;

}

#elinputSection {

    margin-left: 25%;

}

input,
#elinputSection p {

    display: inline;
    margin-left: 5px;


}

input:focus {

    padding: 4%;
    background-color: orange;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: x-large;

}

input[type="radio"]:checked {

    visibility: hidden;

}

footer {

    margin-top:3%;
    padding-top: 4%;
    padding-bottom: 2%;
    text-align: center;
    font-size: medium;
    background-color: orangered;
    

}

footer a  {

    text-decoration: none;
    color:black;

}